<div>

    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>

    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>
    <p>
        or other types of questions, see Help:Contents and Are you in the right place? If you have comments about a specific article, use that article's talk page.
Do not provide your email address or any other contact information. Answers will be provided on this page only.
We are all volunteers, so sometimes replies can take some time. Please be patient. Check back on this page to see if your question has been answered.
If you need real-time help, you can join our IRC help channel, #wikipedia-en-help.
If you are a new editor, you might prefer to ask your question at the Teahouse, an area specifically for new users to get help with editing, article creation and general Wikipedia use, in a friendly environment.
Remember to sign your post by adding 4 tildes (~~~~) at the end of your post. Alternatively, you can click on the signature icon (
    </p>

</div>

<div #panel style="overflow-y:scroll; height: 200px;" >
    <div *ngFor="let log of arr; let i = index" innerHTML="{{log}}" [id]="i"></div>
  </div>
  <button (click)="onPreviousSearchPosition()">Previous</button>
  <button (click)="onNextSearchPosition()">Next</button>
`